{%load static%}
<div class="album py-5 bg-dark">
    <div class="container">
      <h2 class="text-light py-3">Certificados</h2>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        
        {%for cer in certificados%}
        <div class="col mb-4">
          <div class="card shadow-sm bg-dark shadow">
            <img src="{{cer.imagem.thumb.url}}" alt="" class="bd-placeholder-img card-img-top" width="100%" height="225">

            <div class="card-body bg-dark text-light rounded">
              <h4 class="card-text">{{cer.titulo}}</h4>
              <h6>{{cer.instituicao}}</h6>
              <h6>Data: {{cer.dataConclusao}}</h6>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{{cer.urlValidacao}}" type="button" class="btn btn-sm btn-outline-secondary">URL Validação</a>
                  <a href="#" type="button" class="btn btn-sm btn-outline-secondary">Conteúdo</a>
                </div>
                <small class="text-muted">{{cer.cargaHoraria}} horas</small>
              </div>
            </div>
          </div>
        </div>
        {%endfor%}

      </div>
    </div>
  </div>